
@{
    ViewData["Title"] = "Index";
}
<div class="container">
    <link href="~/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <div class="col-12 text-center">
        <h2>Witaj w api entonseco v1</h2>
        <a class="btn btn-primary" asp-controller="CarPark" asp-action="Get">Hura</a>
    </div>
</div>